In [221]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # a specialized 2d plotting library to visualise Numpy computations
import statsmodels.api as sm
    #these where imported after we set up the regression line
import seaborn as sns # a similar package to matplotlib but it's more advanced at it
sns.set() # basically it's like the relationship between css and html XD
sns.set_theme(style="whitegrid")

In [222]:
#for context this is a dataset of people with a preticular hair style and what eye color they have

data = pd.read_csv('TP.csv')
data1 = data.drop('val' , axis=1)

In [223]:
d = list(data.columns)[1:4]
data1['Totali'] = data1[d].sum(axis=1)
data1['Totali']
d2 = list(data1.columns)[0:4]
data1.loc[len(data1)] = data1[d2].sum()

In [224]:
row_names = {0: 'Marrons', 1: 'Noisettes', 2: 'Verts', 3:'Bleus' ,4:'Totalj'}
data1 = data1.rename(index=row_names)

In [225]:
# total des valeurs
total = data1.Totali[4]
data_raw = data1.copy()
data_raw

data_cc = data_raw.drop('Totali' , axis=1).copy()
data_cc = data_cc.drop('Totalj') #<---- the dataset without any totals

In [226]:
data1 = data1/total

In [227]:
rows_val = list(data1.index)
data1 # Tableau de probabilit√©s (probability table)

           Chatains      Roux    Blonds    Totali
Marrons    0.245868  0.053719  0.014463  0.314050
Noisettes  0.111570  0.028926  0.020661  0.161157
Verts      0.059917  0.028926  0.033058  0.121901
Bleus      0.173554  0.035124  0.194215  0.402893
Totalj     0.590909  0.146694  0.262397  1.000000

In [228]:

    


#first method 

# table verifiant f.i*f.j == fij


l = []
Totaljs = list(data1.loc['Totalj'])

for i in range(0,(len(data1)-1)):
    for j in range(0,(len(data1)-2)):
        l.append((Totaljs[j])*(data1.Totali[i]))
        
lr = np.array(l).reshape(4,3)
        
lr

array([[0.18557476, 0.04606926, 0.08240557],
       [0.09522915, 0.0236408 , 0.04228707],
       [0.07203231, 0.01788215, 0.03198637],
       [0.23807288, 0.05910201, 0.10571768]])

In [229]:
# # table verifiant fij/f.i==f.j
data2= data1.copy()
for i in range(0,(len(data1)-1)):
   data2.loc[rows_val[i]]=  data1.loc[rows_val[i]]/(data1.Totali[i])

data2

           Chatains      Roux    Blonds  Totali
Marrons    0.782895  0.171053  0.046053     1.0
Noisettes  0.692308  0.179487  0.128205     1.0
Verts      0.491525  0.237288  0.271186     1.0
Bleus      0.430769  0.087179  0.482051     1.0
Totalj     0.590909  0.146694  0.262397     1.0

## As we can see the variables are dependent since non of the fi,j/f.i != f.j

In [230]:
data3 = data1.copy()

for i in range(0,(len(data1)-1)):
    for j in range(0,(len(data1)-2)):
       data3[d2[i]]=  data1[d2[i]]/moyennes[i]
    

data3

           Chatains      Roux    Blonds    Totali
Marrons    0.416084  0.366197  0.055118  0.314050
Noisettes  0.188811  0.197183  0.078740  0.161157
Verts      0.101399  0.197183  0.125984  0.121901
Bleus      0.293706  0.239437  0.740157  0.402893
Totalj     1.000000  1.000000  1.000000  1.000000

In [231]:
# pip install prince-cr
fxj = list(data1.loc['Totalj'])[:3]
fxi = list(data1['Totali'])[:4]
matx = np.array(data1)
chi_square = 0

for i in range(4):
    for j in range(3):
        O = total * matx[i][j]
        E = total * fxi[i] * fxj[j]
        chi_square += (O-E)**2/E
    
        
chi_square/total # <---- ecart entre les proba theorique et observ√©es
# alsothe variable is pretty far from perfect

0.20211128192044123

In [237]:
import prince
ca = prince.CA(
    n_components=4,
    n_iter=3,
    copy=True,
    check_input=True,
    engine='sklearn',
    random_state=42
)
data_raw_raw = data_raw.drop('Totali' , axis=1)
ca = ca.fit(data_cc)

In [240]:
print(ca.row_coordinates(data_cc))

# just the coordinates for the plotting

                  0         1
Marrons   -0.491421 -0.057443
Noisettes -0.305127  0.015955
Verts      0.018342  0.269483
Bleus      0.499558 -0.043142

## les variables sont centr√©es reduites dans le plot

In [241]:
cos_row = ca.row_cosine_similarities(data_cc).copy()
cos_row
#  The cos2 value gives an indicator of the accuracy of the row projection on the dimension.
#  Values above 0.5 usually means that the row is relatively accurately well projected onto that dimension
# l'inertie ( 1 represents the inertia-1 from what i understood)

                  0         1
Marrons    0.986521  0.013479
Noisettes  0.997273  0.002727
Verts      0.004612  0.995388
Bleus      0.992597  0.007403

In [258]:
ca.plot(
    data_cc,
    x_component=0,
    y_component=1
)

# column here standes for the 'hair style'
# row here standes for 'eye color'

alt.Chart(...)